{% extends 'base.html' %}
{% block title %}Novo Cadastro | HM de Finanças{% endblock %}

{% block content %}
<article class="card" style="max-width: 600px; margin: 0 auto;">
    <header>
        <h2>Nova Transação</h2>
        <p>Entrada ou Saída</p>
    </header>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <div class="grid">
            <a href="{% url 'dashboard' %}" role="button" class="outline secondary">Cancelar</a>
            <button type="submit">Salvar Transação</button>
        </div>
    </form>
</article>
{% endblock %}
